<div>
<h2>User info</h2>
<div><%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size:'100x100',class: "img-circle pull-left profile-img" %></div>
<table>
<tbody>
  <tr></tr>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
  </tr>
</tbody>
</table>
<div><%= link_to 'edit', edit_user_path(current_user) %></div>

<h2>New book</h2>
<%= form_for(@book) do |f| %>
<div>
    <label>Title</label>
    <div><%= f.text_field :title %></div>
</div>
<div>
    <label>Opinion</label>
    <div><%= f.text_area :body %></div>
</div>

    <div><%= f.submit 'Create Book' %></div>

<% end %>
</div>

<h2>Books</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <% @books.each do |book| %>
  <tr>
    <td></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tr>
  <% end %>
</tbody>
</table>