<!DOCTYPE html>
<html>
<head>
  <title>Bookers</title>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse" >
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
                <span>Bookers</span>
              </nav>
              <nav>
                <ul class="nav navbar-mav navbar-right">
              <% if user_signed_in? %>
              <input class="btn btn-primary" type="button" value="Input">
              <%= link_to 'New Post', user_path, class: "btn btn-default" %>
                <li class="">
                  <%= link_to 'Home', user_path(current_user) %>
                </li>
                <li class="">
                  <%= link_to 'Users', users_path %>
                </li>
                <li class="">
                  <%= link_to 'Books', books_path %>
                </li>
                <li class="">
                  <%= link_to 'logout', destroy_user_session_path %>
                </li>
              <% else %>
                <li class="">
                  <%= link_to 'Home', "#" %>
                </li>
                <li class="">
                  <%= link_to 'About', "#" %>
                </li>
                <li class="">
                  <%= link_to "sign up", new_user_registration_path %>
                </li>
                <li class="">
                  <%= link_to "login", new_user_session_path %>
                </li>
              <% end %>
            </ul>
            </nav>

    </div>
  </header>
    <%= yield %>

   <footer class="footer style-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="col">
              <br>
              <p class="no-margin" style="font-size: 11px;">
              <br>
              CopyRight Infratop.inc
          </p>
              

            </div>
          </div>
          
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
